footer {
    display: flex;
    max-width: 1400px;
    margin: auto;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
}

@media (max-width: 767px) {
    footer {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
}