header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

header img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

header h1 {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}